@model Dockbay.Models.Dock

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Town" class="control-label"></label>
                <input asp-for="Town" class="form-control" />
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="History" class="control-label"></label>
                <input asp-for="History" class="form-control" />
                <span asp-validation-for="History" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordinates" class="control-label"></label>
                <input asp-for="Coordinates" class="form-control" />
                <span asp-validation-for="Coordinates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rented" class="control-label"></label>
                <input asp-for="Rented" class="form-control" />
                <span asp-validation-for="Rented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disponible" class="control-label"></label>
                <input asp-for="Disponible" class="form-control" />
                <span asp-validation-for="Disponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
