@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron text-center">
        <h1>EHKP</h1>
        <img class ="img" src="~/Img/Amarres.jpg" />
        <h3>Euskal Herriko Kirol Portuak</h3>
    </div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Port Of Mutriku</h3>
            <p>Schedule</p>
            <p>Opening everiday from 09:00h - 13:00h and 15:00h - 22:00h</p> 
            <p>Dates</p>
            <p><a href="http://www.ekpsa.eus/upload/puertos/planos/Mutriku_plano_2013.pdf">Plan</a></p>
            <p><a href="http://www.ekpsa.eus/upload/puertos/tarifas/tasasMUT2020cas.pdf">Rates</a></p>
        </div>
        <div class="col-sm-4">
            <h3>Port Of Hondarribi</h3>
            <p>Schedule</p>
            <p>Opening everiday from 09:00h - 13:00h and 15:00h - 22:00h</p>
            <p>Dates</p>
            <p><a href="http://www.ekpsa.eus/upload/puertos/planos/HONplanoAdscripcioncomprimido.pdf">Plan</a></p>
            <p><a href="http://www.ekpsa.eus/upload/puertos/tarifas/tasasHON2020cas.pdf">Rates</a></p>
        </div>
        <div class="col-sm-4">
            <h3>Port Of Ondarru</h3>
            <p>Schedule</p>
            <p>Opening everiday from 09:00h - 13:00h and 15:00h - 22:00h</p>
            <p>Dates</p>
            <p><a href="http://www.ekpsa.eus/upload/puertos/planos/Mutriku_plano_2013.pdf">Plan</a></p>
            <p><a href="http://www.ekpsa.eus/upload/puertos/tarifas/tasasMUT2020cas.pdf">Rates</a></p>
        </div>
        <div class="col-sm-4">
            <h3>Port Of Lekeitio</h3>
            <p>Schedule</p>
            <p>Opening everiday from 09:00h - 13:00h and 15:00h - 22:00h</p>
            <p>Dates</p>
            <p><a href="http://www.ekpsa.eus/upload/puertos/planos/Mutriku_plano_2013.pdf">Plan</a></p>
            <p><a href="http://www.ekpsa.eus/upload/puertos/tarifas/tasasMUT2020cas.pdf">Rates</a></p>
        </div>
    </div>
</div>

